﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>
<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="asp" Namespace="System.Web.UI" Assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<%@ Import Namespace="Microsoft.SharePoint" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ModifySection.aspx.cs" Inherits="IEM.EOPT.Layouts.IEM.EOPT.Pages.ModifySection" DynamicMasterPageFile="~masterurl/default.master" %>

<asp:Content ID="PageHead" ContentPlaceHolderID="PlaceHolderAdditionalPageHead" runat="server">

</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="PlaceHolderMain" runat="server">
    <asp:HiddenField ID="HiddenField1" runat="server" />    
    <div id="ErrorDiv" class="Error" runat="server" visible="false"></div>        
    <table style="width: 100%;" cellpadding="5" cellspacing="5">
        <tr>
            <td colspan="3">
                <hr />
            </td>
        </tr>        
        <tr>
            <td colspan="3">
                <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                    <ContentTemplate>
                        <table width="100%" cellpadding="5" cellspacing="5">
                            <tr>
                                <td>Section Title:&nbsp;<!--<label style="color:darkred">*</label>--></td>
                                <td>
                                    <asp:TextBox ID="TextBox1" runat="server" Width="100%"></asp:TextBox>
                                </td>
                                <td>
                                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Required" CssClass="required" ControlToValidate="TextBox1"></asp:RequiredFieldValidator>
                                </td>
                            </tr>
                            <%--<tr>
                                <td>Section Group:</td>
                                <td colspan="2">
                                    <asp:RadioButtonList ID="RadioButtonList1" runat="server" RepeatDirection="Vertical" Width="100%" AutoPostBack="true" OnSelectedIndexChanged="RadioButtonList1_SelectedIndexChanged">
                                        <asp:ListItem Selected="True">Existing Group</asp:ListItem>
                                        <asp:ListItem>New Group</asp:ListItem>
                                    </asp:RadioButtonList>
                                </td>                                
                            </tr>--%>
                            <tr id="TR01" runat="server">
                                <td>Section Group:</td>
                                <td>
                                    <asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack="true" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged"></asp:DropDownList>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr id="TR02" runat="server" visible="false">
                                <td>New Group Name:&nbsp;<label style="color:darkred">*</label></td>
                                <td>
                                    <asp:TextBox ID="TextBox3" runat="server" Width="100%"></asp:TextBox>
                                </td>
                                <td>
                                    <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ErrorMessage="Required" ControlToValidate="TextBox3"></asp:RequiredFieldValidator>
                                </td>
                            </tr>
                            <tr>
                                <td>NIMS Compliant:</td>
                                <td>
                                    <asp:RadioButtonList ID="RadioButtonList2" runat="server" RepeatDirection="Vertical">
                                        <asp:ListItem>Yes</asp:ListItem>
                                        <asp:ListItem>No</asp:ListItem>
                                        <asp:ListItem>N/A</asp:ListItem>
                                    </asp:RadioButtonList>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Section Order:&nbsp;<%--<label style="color:darkred">*</label>--%></td>
                                <td>
                                    <asp:TextBox ID="TextBox2" runat="server" Columns="3" TextMode="Number" MaxLength="3" Enabled="false"></asp:TextBox>
                                </td>
                                <td>
                                    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="Required" CssClass="required" ControlToValidate="TextBox2"></asp:RequiredFieldValidator>
                                </td>
                            </tr>       
                        </table>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </td>
        </tr>       
         
        <tr>
            <td colspan="3">
                <hr />
            </td>
        </tr>
        <tr align="right">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <asp:Button ID="Button1" runat="server" Text="Ok" OnClick="Button1_Click" />&nbsp;&nbsp;
                <asp:Button ID="Button2" runat="server" Text="Cancel" OnClick="Button2_Click" CausesValidation="false" />
            </td>
        </tr>
    </table>
            
</asp:Content>

<asp:Content ID="PageTitle" ContentPlaceHolderID="PlaceHolderPageTitle" runat="server">
Modify Section
</asp:Content>

<asp:Content ID="PageTitleInTitleArea" ContentPlaceHolderID="PlaceHolderPageTitleInTitleArea" runat="server" >
ModifySection
</asp:Content>
